#signup
  .center-screen
    %h1.san-serif Sign Up

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

      = f.input :name, :label => 'Full Name', :input_html => {:autocomplete => 'off'}
      = f.input :username, :input_html => {:class => 'copy-over', 'data-target' => '.url .username', :autocomplete => 'off'}
      = f.input :email, :input_html => {:autocomplete => 'off'}
      = f.input :password, :input_html => {:autocomplete => 'off'}

      .url
        .head Your URL
        .root= request.host_with_port + '/'
        .username= resource.username && !resource.username.blank? ? resource.username : 'username'


      = f.submit "Sign Up", :class => 'medium action submit button'

      %a{:href => user_session_path} Have an account? Sign In.