<p>Hi<%= @user.username ? " #{@user.username}" : "" %>,</p>

<% if @user.pending_share_count > 0 %>
  <p>
    You have <%= pluralize(@user.pending_share_count.to_i, 'pending post') %> (<%= @pending_this_week %> new this week) waiting to be published or discarded!
    View <%= @user.pending_share_count == 1 ? "it" : "them" %> here: <%= link_to pending_url, pending_url %>
  </p>
<% end %>

<% if @crowdsourced_this_week > 0 %>
  <p>
    <%= @user.pending_share_count > 0 ? "Also, we" : "We" %> automatically organized <%= pluralize(@crowdsourced_this_week, 'post') %> and published <%= @crowdsourced_this_week == 1 ? "it" : "them" %> for you.
    View <%= @crowdsourced_this_week == 1 ? "it" : "them" %> on your profile: <%= link_to user_url(@user), user_url(@user) %>.
    You can also turn this feature off in your <%= link_to "settings", settings_url %> (if you don't like awesome internet magic).
  </p>
<% end %>

<div>
  - Marc & Matt
  <br/>The ThisThat Team
</div>

<p style="color: #666; font-size: 11px;">
  You can edit your email settings by visiting your <%= link_to "settings page", settings_url %>.
</p>