- content_for :header do
  %header
    %hrgroup
      %h1.san-serif= @user.name

      - if @user.bio && !@user.bio.blank?
        %h3.subheader.san-serif= @user.bio

      -#.extra You can find me @marbemac.

- content_for :page_nav do
  %nav
    %ul.left
      %li{:class => (params[:action] == 'show' ? 'on' : '')}
        %a{:href => user_path(@user)}
          = pluralize(@user.posts_count, "Post")
          %i.icon-caret-up
      - if current_user == @user
        %li
          &bull;
        %li{:class => (params[:action] == 'ideas' ? 'on' : '')}
          %a{:href => user_ideas_path}
            = pluralize(@user.ideas_count, "Idea")
            %i.icon-caret-up
    %img.badge{:src => user_avatar_path(@user, :width => 100, :height => 100, :crop => :fill, :radius => :max, :border => { :width => 6, :color => '#FFFFFF20' })}
    %ul.right
      %li{:class => (params[:action] == 'channels' ? 'on' : '')}
        %a{:href => user_channels_path(@user)}
          = pluralize(@user.channels_count, "Channel")
          %i.icon-caret-up