#settings.tt-form
  .section
    %h1.san-serif Settings
    %h4.san-serif.subheader
      This is where you set them.

  .section.basic
    = simple_form_for @user, :url => user_url(:subdomain => @user.username) do |f|
      .help.show-for-touch Click something to change it. Click "Save Changes" to... save changes.

      = f.error_notification
      = f.error :base

      .fileinput-button
        %span.prompt Choose Photo
        %div
          %img{:src => @user.avatar.present? ? user_avatar_path(@user, :width => 200, :height => 200, :crop => :fit) : ''}
          = f.hidden_field :avatar_cache
        = f.file_field :avatar, :tabindex => '-1'
      = f.error :avatar

      = f.input :name, :label => false, :input_html => {:placeholder => @user.name, :autocomplete => 'off'}
      = f.input :bio, :label => false, :input_html => {:placeholder => 'My Bio', :autocomplete => 'off', :rows => 5}

      = f.button :submit, :class => 'medium action submit button', :value => 'Save Basic Info'

  .section.theme
    = simple_form_for @user, :url => user_url(:subdomain => @user.username) do |f|

      = f.error_notification
      = f.error :base

      .line
        .name
          Top Header Color
        .content
          #colorSelector
            %div{:style => "background-color: #{@user.theme_header_color};"}
          = f.input :theme_header_color, :as => :hidden

      .line
        .name
          %div Background Pattern
          .subheader
            Patterns courtesy of
            %a{:href => 'http://subtlepatterns.com/', :target => '_blank'} Subtle Patterns.
        .content
          #patternSelector{:style => "background: url(#{@user.theme_background_pattern_path});", 'data-patterns' => User.theme_background_patterns.to_json, 'data-current-index' => User.theme_background_patterns.index(@user.theme_background_pattern)}
            .prev{:title => 'Previous pattern.'}
              %i.icon-arrow-left
            .next{:title => 'Next pattern.'}
              %i.icon-arrow-right
          = f.input :theme_background_pattern, :as => :hidden

      = f.button :submit, :class => 'medium action submit button', :value => 'Save Theme'