#settings.tt-form
  .section
    %h1 Create a Channel
    %h4.subheader
      A channel is a place for people to express themselves around a common idea, theme, or prompt.

  = simple_form_for @user do |f|
    .section.basic
      .help.show-for-touch click the text below to edit

      = f.error_notification
      = f.error :base

      .fileinput-button
        %span.prompt Choose Photo
        %img{:src => @user.avatar.present? ? user_avatar_path(@user, :width => 200, :height => 200, :crop => :fit) : ''}
        = f.hidden_field :avatar_cache
        = f.file_field :avatar, :tabindex => '-1'
    = f.button :submit, :class => 'large action submit button', :value => @user.avatar.present? ? 'Update Photo' : 'Add Photo'
    -#  = f.error :avatar
    -#
    -#  = f.input :name, :label => false, :input_html => {:placeholder => 'Channel Name', :autocomplete => 'off'}
    -#  = f.input :description, :label => false, :input_html => {:placeholder => 'Channel Description', :autocomplete => 'off'}
    -#
    -#.section.permissions
    -#  .help.show-for-touch choose permissions
    -#  .option-wrapper.first
    -#    %div{:class => "option #{@channel.privacy == 'public' ? 'on' : ''}", 'data-value' => 'public'}
    -#      .head Public
    -#      %p Everybody can view posts. Everybody can contribute posts.
    -#  .option-wrapper.second
    -#    %div{:class => "option #{@channel.privacy == 'invite' ? 'on' : ''}", 'data-value' => 'invite'}
    -#      .head Invite to Post
    -#      %p Everybody can view posts. Only those you invite can contribute posts.
    -#
    -#  = f.input :privacy, :as => :hidden, :label => false, :input_html => { :value => @channel.persisted? ? @channel.privacy : 'public' }

