.info-strip
  - cache @post do
    %h1#post-title{(defined?(@editing) ? {:contenteditable => 'true'} : {})}
      != !@post.title.blank? ? span_first_word(@post.title) : 'Title... (click to edit)'

    .post-top-meta
      %a.post-author{:href => user_path(@post.user), :rel => 'author'}= @post.user.name
      in
      %a.post-channel{:href => channel_path(@post.primary_channel)}= @post.primary_channel.name

  .action-bar.hide-editing
    - if can? :update, @post
      = render "posts/admin_btns"
    = render "posts/recommend_btn"

- cache @post do
  #picture-wrapper
    .show-editing.fileinput-button
      .upload-help
        click to upload a picture
        %span.loading
        %input{:type => 'file', 'data-url' => post_update_photo_path(@post.id), :name => 'post[photo]'}
    %div{:style => "background-image: url('#{@post.photo_url}')", :class => "image #{@post.photo_ratio >= 1.4 ? 'cover-image' : 'contain-image'}"}