- if defined?(@editing) || @post.photo.present?
  #picture-wrapper
    .show-editing.fileinput-button
      .upload-help
        click to upload a picture
        %span.loading
        %input{:type => 'file', 'data-url' => post_update_photo_url(@post.id, :subdomain => Rails.env == 'production' ? 'www' : false), :name => 'post[photo]'}

    - if @post.style == 'full-page' || defined?(@editing)
      #post-picture-title
        %h1.copy-over{'data-target' => '#post-title'}
          != !@post.title.blank? ? span_first_word(@post.title) : 'Title... (click to edit)'
        .divider
        .post-top-meta
          .meta-one
            by
            %a.post-author{:href => user_url(:subdomain => @post.user.username), :rel => 'author'}= @post.user.name
            in
            - if @post.primary_channel
              %a.post-channel{:href => channel_url(@post.primary_channel, :subdomain => false)}= @post.primary_channel.name
            - else
              %a.post-channel{:href => '#'} None
          - if @post.attribution_link
            .meta-two
              Originally posted at
              %a.post-attribution{:href => @post.attribution_link}= @post.attribution_link

    %div{:style => "background-image: url('#{@post.photo_url}')", :class => "image #{@post.photo_ratio >= 1.4 ? 'cover-image' : 'contain-image'}"}

%div{:class => "white-wrap #{defined?(@editing) || @post.photo.present? ? 'with-photo' : ''}"}
  .content-wrapper
    - cache @post do
      - if defined?(@editing) || @post.style != 'full-page'
        .post-top-meta
          .meta-one
            %a.post-author{:href => user_url(:subdomain => @post.user.username), :rel => 'author'}= @post.user.name
            in
            - if @post.primary_channel
              %a.post-channel{:href => channel_url(@post.primary_channel, :subdomain => false)}= @post.primary_channel.name
            - else
              %a.post-channel{:href => '#'} None
          - if @post.attribution_link
            .meta-two
              Originally posted at
              %a.post-attribution{:href => @post.attribution_link}= @post.attribution_link

        %h1#post-title.copy-over{'data-target' => '#post-picture-title h1'}
          != !@post.title.blank? ? span_first_word(@post.title) : 'Title... (click to edit)'

      #post-body{(defined?(@editing) ? {:contenteditable => 'true'} : {})}
        != !@post.content.blank? ? @post.content : '<p>Content... (click to edit)</p>'

    .action-bar.hide-editing
      = render "posts/recommend_btn"
      - if @post.status == 'active'
        = render "posts/share_btns"
      - if can? :update, @post
        = render "posts/admin_btns"
