.info-strip
  - cache @post do
    %h1#post-title{(defined?(@editing) ? {:contenteditable => 'true'} : {})}
      != !@post.title.blank? ? span_first_word(@post.title) : 'Title... (click to edit)'

    .post-top-meta
      %a.post-author{:href => user_url(:subdomain => @post.user.username), :rel => 'author'}= @post.user.name
      in
      - if @post.primary_channel
        %a.post-channel{:href => channel_url(@post.primary_channel, :subdomain => false)}= @post.primary_channel.name
      - else
        %a.post-channel{:href => '#'} None

  .action-bar.hide-editing
    - if can? :update, @post
      = render "posts/admin_btns"
    = render "posts/recommend_btn"

#picture-wrapper
  .show-editing.fileinput-button
    .upload-help
      click to upload a picture
      %span.loading
      %input{:type => 'file', 'data-url' => post_update_photo_url(@post.id, :subdomain => false), :name => 'post[photo]'}
  %div{:style => "background-image: url('#{@post.photo_url}')", :class => "image"}