.editor-actions
  %a.home.gray.button{:href => root_url(:host => site_host)}
    %i.icon-home

  .editor-publish.action.button.has-tooltip{'data-placement' => 'bottom', :title => 'Publishing makes your post live for other people to view.'}
    %i.icon-upload
    %span.name Publish

  .editor-save.gray.button.has-tooltip{'data-placement' => 'bottom', :title => 'Ideas function as draft posts. Save it for later.'}
    %i.icon-save
    %span.name Save As Idea

  .editor-discard.gray.button
    %a{:href => post_path(@post), 'data-method' => :delete, 'data-confirm' => 'Are you sure you want to discard this post?', 'data-skip-pjax' => true}
      %i.icon-remove
      Discard

#left-panel
  .title= @post.post_type == 'text' ? 'Article' : @post.post_type
  .section.post-style
    - if @post.post_type == 'text'
      .head Article Style
      .content
        %div{'data-value' => 'default', :class => "#{@post.style == 'default' ? 'on' : ''}"}
          %i.icon-double-angle-right
          No Image
        %div{'data-value' => 'small-image', :class => "#{@post.style == 'small-image' ? 'on' : ''}"}
          %i.icon-double-angle-right
          Small Image
        %div{'data-value' => 'half-page', :class => "#{@post.style == 'half-page' ? 'on' : ''}"}
          %i.icon-double-angle-right
          Half Page
        %div{'data-value' => 'full-page', :class => "#{@post.style == 'full-page' ? 'on' : ''}"}
          %i.icon-double-angle-right
          Full Page
    - else
      .head Picture Style
      .content
        %div{'data-value' => 'default', :class => "#{@post.style == 'default' ? 'on' : ''}"}
          %i.icon-double-angle-right
          Contain Image
        %div{'data-value' => 'cover-image', :class => "#{@post.style == 'cover-image' ? 'on' : ''}"}
          %i.icon-double-angle-right
          Cover Image

#right-panel


#post-editor

  #editor-submit-url{'data-url' => post_path(@post.id)}
  = render :partial => "content_#{@post.post_type}", :layout => 'content'