- if @post.photo.present?
  - content_for :og_tags do
    %meta{:property => 'og:image', :content => @post.photo_url}

- content_for :header do
  .section.share
    .part.dropdown
      .name
        Share
        %i.icon-caret-down
      .menu
        %ul
          %li
            %a{:href => "http://twitter.com/share?text=#{@post.title}&url=#{@post.permalink}", 'data-skip-pjax' => true, :target => '_blank'} On Twitter
          %li
            %a{:href => "https://www.facebook.com/dialog/feed?link=#{@post.permalink}", 'data-skip-pjax' => true, :target => '_blank'} On Facebook
          %li
            %a{:href => "http://reddit.com/submit?url=#{@post.permalink}&title=#{@post.title}", 'data-skip-pjax' => true, :target => '_blank'} On Reddit
          %li
            %a{:href => "http://www.stumbleupon.com/submit?url=#{@post.permalink}&title=#{@post.title}", 'data-skip-pjax' => true, :target => '_blank'} On StumbleUpon
          %li
            %a{:href => "http://news.ycombinator.com/submitlink?u=#{@post.permalink}&t=#{@post.title}", 'data-skip-pjax' => true, :target => '_blank'} On Hacker News

= render :partial => "content_#{@post.post_type}", :layout => 'content'