!!!
%html
  = render "layouts/head"

  %body{'data-loggedIn' => signed_in? ? 'true' : 'false'}

    #data-pjax-container{'data-pjax-container' => 'true'}

      %div{:id => "#{params[:controller]}-#{params[:action]}", :class => "#{params[:controller]}-c #{@body_class} #{@fullscreen ? 'fullscreen' : ''}"}

        - if content_for?(:header)
          #mast-header{:style => "#{defined?(@user) ? 'background-color: ' + @user.color_theme + ';' : ''}"}
            = yield :header

        #page-nav
          = yield :page_nav

        #container

          = render 'layouts/messages'

          .page-header
            = yield :page_header

          #main{:role => 'main'}
            = yield

          #loader Loading...

        - unless params[:controller] == 'posts' && (params[:action] == 'new' || params[:action] == 'edit')
          = render 'layouts/nav'

    != social_js
    != google_analytics

    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js'}
    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js'}
    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js'}

    = javascript_include_tag "application"

    %script
      = yield :javascript

    -# TODO: this is an ugly way of including the editor js files only on certain pages
    - if params[:controller] == 'posts' && ['edit','new','create','update'].include?(params[:action])
      %script{:type => 'text/javascript', :src => '/assets/javascripts/ckeditor/ckeditor.js'}
      %script{:type => 'text/javascript', :src => '/assets/javascripts/ckeditor/config.js'}
      = javascript_include_tag "editor"